@import "tailwindcss"; 

  

:root {
  --primary-blue: #1a4173; /* Based on House of Shah logo */
  --silver-bg: #fafafa;   /* Based on image background */
  --white: #ffffff;
}

.font-outfit {
  font-family: "Outfit", sans-serif;
}

/* Custom Scrollbar Utility */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(26, 65, 115, 0.15);
  border-radius: 99px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(26, 65, 115, 0.3);
}